<h1>Create a Mecha Subassembly</h1>

<% form_for(:mecha_subassembly_data, @subassembly, :url => {:action => 'create'}) do |f| %>
<p>
Subassembly Name:<br />
  <%= f.text_field :subassembly %>
</p>
  <p>
Space:<br />
    <%= f.text_field :space %>
</p>
    <p>
Cost: <br />
      <%= f.text_field :cost %>
</p>
    <p>
Weight:<br />
      <%= f.text_field :weight %>
</p>
    <p>
Kills:<br />
      <%= f.text_field :kills %>
</p>
  <p>
    <%= f.submit "Create" %>
  </p>


<% end %>