<% mecha = local_assigns[:mecha] %>
<table id="mecha-combat-skills-table">
  <tr>
    <td class="cell-label">Mecha Piloting</td><td class="cell-value"><%= mecha.mecha_piloting %></td>
  </tr>
  <tr>
    <td class="cell-label">Mecha Fighting</td><td class="cell-value"><%= mecha.mecha_fighting %></td>
  </tr>
  <tr>
    <td class="cell-label">Mecha Melee</td><td class="cell-value"><%= mecha.mecha_melee %></td>
  </tr>
  <tr>
    <td class="cell-label">Mecha Gunnery</td><td class="cell-value"><%= mecha.mecha_gunnery %></td>
  </tr>
  <tr>
    <td class="cell-label">Mecha Missiles</td><td class="cell-value"><%= mecha.mecha_missiles %></td>
  </tr>
</table>