<% mecha = local_assigns[:mecha] %>
<table id="mecha-combat-skills-table" class="mecha-table">
  <thead class="shaded">
    <tr>
      <th colspan="2">Mecha Combat Skills</th>
    </tr>
  </thead>
  <tr>
    <td class="cell-label">Mecha Piloting</td><td class="cell-value"><div id="mecha_piloting"><%= mecha.mecha_piloting %></div></td>
  </tr>
  <tr>
    <td class="cell-label">Mecha Fighting</td><td class="cell-value"><div id="mecha_fighting"><%= mecha.mecha_fighting %></div></td>
  </tr>
  <tr>
    <td class="cell-label">Mecha Melee</td><td class="cell-value"><div id="mecha_melee"><%= mecha.mecha_melee %></div></td>
  </tr>
  <tr>
    <td class="cell-label">Mecha Gunnery</td><td class="cell-value"><div id="mecha_gunnery"><%= mecha.mecha_gunnery %></div></td>
  </tr>
  <tr>
    <td class="cell-label">Mecha Missiles</td><td class="cell-value"><div id="mecha_missiles"><%= mecha.mecha_missiles %></div></td>
  </tr>
</table>