<% mecha = local_assigns[:mecha] %>

<table id="mecha-stats-table" class="mecha-table">
  <thead class="shaded">
    <tr>
      <th colspan="5">Mecha Stats</th>
    </tr>
    <tr>
      <th>Configuration</th>
      <th>MV</th>
      <th>MR</th>
      <th>Land MA</th>
      <th>Flight MA</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Humanoid Mecha</td>
      <td><div id="mv"><%= mecha.mv %></div></td>
      <td><div id="mecha_reflexes"><%= mecha.mecha_reflexes %></div></td>
      <td><div id="land_ma"><%= mecha.land_ma %></div></td>
      <td><div id="flight_ma"><%= mecha.flight_ma %></div></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td>Ground Effects: <div id="ground_effects"><%= mecha.ground_effects %></div></td>
      <td>With Wings: <div id="wings_flight_ma"><%= mecha.flight_ma + 2 %></div></td>
    </tr>
  </tbody>
</table>