<%= javascript_include_tag 'lib/mechas/show' %>

<div class="hidden" id="mecha_id"><%= @mecha.id %></div>
<div id="mecha-sheet">
<div id="mecha-left">
  <div id="mecha-stats" class="mecha-section">
      <%= render :partial => 'mecha_stats', :locals => {:mecha => @mecha} %>
  </div>
  <div class="mecha-section">
    <div class="mecha-subleft">
     <div id="mecha-maneuver_pool" class="mecha-section">
       <div class="side-label label shaded">
         Maneuver Pool
       </div>
       <div>
         <%= @mecha_pilot.maneuver_pool %>
       </div>
     </div>
     <div id="mecha-combat_skills" class="mecha-section">
       <%= render :partial => 'mecha_combat_skills', :locals => {:mecha => @mecha} %>
     </div>
    </div>
    <div class="mecha-subright">
     <div id="mecha-multipliers" class="mecha-section">
       
     </div>
    </div>
  </div>
  <div id="mecha-servos" class="mecha-section">
     <%= render :partial => 'mecha_servos', :locals => {:mecha => @mecha, :mecha_servos => @mecha.mecha_servos} %>
  </div>
  <div class="mecha-section">
    <div class="mecha-subleft">
      <div id="mecha-movement_systems" class="mecha-section">
        
      </div>
    </div>
    <div class="mecha-subright">
      <div id="mecha-sensors" class="mecha-section">
        <%= render :partial => 'mecha_sensors', :locals => {:mecha => @mecha, :mecha_sensors => @mecha.mecha_sensors} %>
      </div>
    </div>
  </div>
</div>
<div id="mecha-right">
  <div id="portrait" class="mecha-section">
    
  </div>
  <div id="mecha-profile" class="mecha-section">
    <%= render :partial => 'mecha_profile', :locals => {:mecha => @mecha} %>
  </div>
  <div id="mecha-subassemblies" class="mecha-section">
    <%= render :partial => 'mecha_subassemblies', :locals => {:mecha => @mecha, :mecha_subassemblies => @mecha.mecha_subassemblies} %>
  </div>
  <div id="mecha-shields" class="mecha-section">
    <%= render :partial => 'mecha_shields', :locals => {:mecha => @mecha, :mecha_shields => @mecha.mecha_shields} %>
  </div>
</div>
    <div id="mecha-armaments" class="mecha-section">
      <%= render :partial => 'mecha_weapons', :locals => {:mecha => @mecha, :mecha_weapons => @mecha.mecha_weapons} %>
    </div>
</div>