<% @title = "Welcome to the Mechlab" %>
<h1><%= @title %></h1>

<h2>Instructions</h2>

<p>There are still a lot of limitations and probably a few bugs lurking around. If you want to create a mecha
you'll need to create a character as a pilot, first.  Also, for the time being, if you create a mecha, you can't
change the pilot you created it with. I'll get that fixed soon.</p>

<p>You'll see fields on the sheet that say "Click to edit".  Guess what you do to edit those?</p>

<p>A few points about these cool javascript editable fields, though. For now, to save a value you've
typed into a text box, you need to hit <strong>Enter</strong>. For the select/drop-down boxes, you can just
click somewhere outside of the field.  If you click a field that says "Click to Edit" and it doesn't become
editable, just reload the page. Everything saves dynamically, so you can do that safely without losing anything.</p>

<p>Mecha Multipliers work a little differently than they did on the Excel sheet. To make it possible to use
more multipliers, which can have some crazy effects, choosing a multiplier just affects the cost. If it's something like,
say, Maneuver Verniers, you'll add the benefits you get (+1 to MV per vernier purchased) to the new <strong>Mecha
Modifiers</strong> section.</p>

<p>Coming soon: A place to add any custom weapon stats you have, along with other custom Stuff we might have
created.</p>

<p>Send me any bugs you find.</p>

<h2>Characters</h2>
<ul>
  <li><%= link_to "All Characters", characters_path %></li>
  <li><%= link_to "New Character", new_character_path %></li>
</ul>

<h2>Mecha</h2>
<ul>
  <li><%= link_to "All Mecha", mechas_path %></li>
  <li><%= link_to "New Mecha", new_mecha_path %></li>
  <li><%= link_to "Mecha Weapons", mecha_weapon_data_index_path %></li>
  <li><%= link_to "Mecha Multipliers", mecha_multiplier_data_index_path %></li>
</ul>