<% character = local_assigns[:character] %>

<table id="character-stats-table">
  <thead class="shaded">
    <tr>
      <th colspan="4">Character Stats</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="stat-value"><%=editable('intelligence', character.intelligence)%></td><td class="stat-label shaded">Intelligence</td>
      <td class="stat-value"><%=static('melee_damage_mod', character.melee_damage_mod)%></td><td class="stat-label shaded">Melee Damage Mod</td>
    </tr>
    <tr>
      <td class="stat-value"><%=editable('cool', character.cool)%></td><td class="stat-label shaded">Cool</td>
      <td class="stat-value"><%=static('stability', character.stability)%></td><td class="stat-label shaded">Stability</td>
    </tr>
    <tr>
      <td class="stat-value"><%=editable('reflexes', character.reflexes)%></td><td class="stat-label shaded">Reflexes</td>
      <td class="stat-value"><%=static('run', character.run)%></td><td class="stat-label shaded">Run</td>
    </tr>
    <tr>
      <td class="stat-value"><%=editable('attractiveness', character.attractiveness)%></td><td class="stat-label shaded">Attractiveness</td>
      <td class="stat-value"><%=static('jump', character.jump)%></td><td class="stat-label shaded">Jump</td>
    </tr>
    <tr>
      <td class="stat-value"><%=editable('empathy', character.empathy)%></td><td class="stat-label shaded">Empathy</td>
      <td class="stat-value"><%=static('running_jump', character.running_jump)%></td><td class="stat-label shaded">Running Jump</td>
    </tr>
    <tr>
      <td class="stat-value"><%=editable('tech_ability', character.tech_ability)%></td><td class="stat-label shaded">Tech Ability</td>
      <td class="stat-value"><%=static('anime_leap', character.anime_leap)%></td><td class="stat-label shaded">Anime Leap</td>
    </tr>
     <tr>
      <td class="stat-value"><%=editable('luck', character.luck)%></td><td class="stat-label shaded">Luck</td>
      <td class="stat-value"><%=static('stun', character.stun)%></td><td class="stat-label shaded">Stun</td>
    </tr>
    <tr>
      <td class="stat-value"><%=editable('move_allowance', character.move_allowance)%></td><td class="stat-label shaded">Move Allowance</td>
      <td class="stat-value"><%=static('lift', character.lift)%></td><td class="stat-label shaded">Lift</td>
    </tr>
    <tr>
      <td class="stat-value"><%=editable('body_type', character.body_type)%></td><td class="stat-label shaded">Body Type</td>
      <td class="stat-value"><%=static('ev', character.ev)%></td><td class="stat-label shaded">EV</td>
    </tr>
    <tr>
      <td class="stat-value"><%=editable('education', character.education)%></td><td class="stat-label shaded">Education</td>
      <td class="stat-value"><%=static('throw_distance', character.throw_distance)%></td><td class="stat-label shaded">Throw</td>
    </tr>
    <tr class="top-border">
      <td class="stat-label shaded" colspan="2">Hit Damage Capacities</td>
      <td class="stat-value"><%=static('limbs', character.limbs)%></td><td class="stat-label shaded">Limbs</td>
    </tr>
    <tr>
      <td class="stat-value"><%=static('head', character.head)%></td><td class="stat-label shaded">Head</td>
      <td class="stat-value"><%=static('torso', character.torso)%></td><td class="stat-label shaded">Torso</td>
    </tr>
  </tbody>
</table>
