<table>
  <thead class="shaded">
    <tr>
      <th>Armor</th>
      <th>Location</th>
      <th>SP</th>
      <th>Cost</th>
      <th>Weight</th>
    </tr>
  </thead>
  <tbody>
    <% local_assigns[:character_armors].each do |armor|
        armor_data = armor.character_armor_data
        armor_id = "armor_#{armor.id}"
    %>
        <tr id="<%= armor_id %>">
          <td><%= static("#{armor_id}_armor", armor_data.armor) %></td>
          <td><%= static("#{armor_id}_location", armor.location) %></td>
          <td><%= static("#{armor_id}_stopping_power", armor_data.stopping_power) %></td>
          <td><%= static("#{armor_id}_cost", armor_data.cost) %></td>
          <td><%= static("#{armor_id}_weight", armor_data.weight) %></td>
        </tr>
    <% end %>
  </tbody>
</table>