<table>
  <thead class="shaded">
    <tr>
      <th>Armor</th>
      <th>Location</th>
      <th>SP</th>
      <th>Cost</th>
      <th>Weight</th>
    </tr>
  </thead>
  <tbody>
    <% local_assigns[:character_armors].each do |armor|
        armor_data = armor.character_armor_data
        armor_id = "character_armors-#{armor.id}"
    %>
        <tr id="<%= armor_id %>">
          <td><%= static("#{armor_id}-armor", armor_data.armor) %></td>
          <td><%= static("#{armor_id}-location", armor.location) %></td>
          <td><%= static("#{armor_id}-stopping_power", armor_data.stopping_power) %></td>
          <td><%= static("#{armor_id}-cost", armor_data.cost) %></td>
          <td><%= static("#{armor_id}-weight", armor_data.weight) %></td>
          <td><%= image_tag("delete.png", :alt=>"Delete", :class=>"icon delete") %></td>
        </tr>
    <% end %>
  </tbody>
</table>