<table>
  <thead class="shaded">
    <tr>
      <th>Armor</th>
      <th>Location</th>
      <th>SP</th>
      <th>Cost</th>
      <th>Weight</th>
    </tr>
  </thead>
  <tbody>
    <% local_assigns[:character_armors].each do |armor|
        armor_data = armor.character_armor_data
    %>
        <tr>
          <td><%= armor_data.armor %></td>
          <td><%= armor.location %></td>
          <td><%= armor_data.stopping_power %></td>
          <td><%= armor_data.cost %></td>
          <td><%= armor_data.weight %></td>
        </tr>
    <% end %>
  </tbody>
</table>