<table>
  <thead class="shaded">
    <tr>
      <th>Weapon</th>
      <th>WA</th>
      <th>Range</th>
      <th>Damage</th>
      <th>Shots</th>
      <th>BV</th>
      <th>Conc</th>
      <th>Weight</th>
      <th>Qty</th>
      <th>Cost</th>
    </tr>
  </thead>
  <tbody>
    <% local_assigns[:character_weapons].each do |weapon|
        weapon_data = weapon.character_weapon_data
    %>
        <tr>
          <td><%= weapon_data.weapon %></td>
          <td><%= weapon_data.weapon_adjustment %></td>
          <td><%= weapon_data.range %></td>
          <td><%= weapon_data.damage %></td>
          <td><%= weapon_data.shots %></td>
          <td><%= weapon_data.burst_value %></td>
          <td><%= weapon_data.concealment %></td>
          <td><%= weapon_data.weight %></td>
          <td><%= weapon.quantity %></td>
          <td><%= weapon.cost %></td>
        </tr>
    <% end %>
  </tbody>
</table>