<%= javascript_include_tag "lib/characters/show" %>

<div class="hidden" id="character_id"><%=@character.id %></div>
<div id="character-left">
    <div id= "character-personal" class="character-section">
      <div class="side-label label shaded">
         Name:
      </div>
      <div class="shaded">
        <%= @character.name %>
      </div>
      <div id="portrait">

      </div>
    </div>
    <div id="character-equipments-div" class="character-section">
    <%= render :partial => "character_equipments", :locals => {:character => @character,
                                                           :character_equipments => @character.character_equipments} %>
  </div>
</div>

<div id="character-right">
    <div id="character-header" class="character-section">
        <div class="top-label label shaded">
          Rookie/Professional
        </div>
      <div id="character-type">
        <%= @character.character_type %>
      </div>
          <div class="side-label label shaded">
          Age
        </div>
      <div id="character-age">
        <%= @character.age %>
      </div>
         <div class="side-label label shaded">
          Money
        </div>
      <div id="character-money">
        <%= @character.money %>
      </div>
      </div>
        <div id="character-stats-div" class="character-section">
    <%= render :partial => "character_stats", :locals => {:character => @character } %>
        </div>
  <div id="character-weapons-div" class="character-section">
    <%= render :partial => "character_weapons", :locals => {:character => @character,
                                                           :character_weapons => @character.character_weapons} %>
  </div>
  <div id="character-armors-div" class="character-section">
    <%= render :partial => "character_armors", :locals => {:character => @character,
                                                           :character_armors => @character.character_armors} %>
  </div>
  <div id="character-skills-div" class="character-section">
    <div id="skill-points">Skill Points: <span id="skill-points-available"><%= @character.skill_points %></span></div>
    <%= render :partial => "character_skills", :locals => {:character => @character,
                                                           :character_skills => @character.character_skills} %>
  </div>

</div>