<h1><%= @multiplier.multiplier %></h1>

<% form_for @multiplier do |f| %>
<p>
Multiplier Name:<br />
  <%= f.text_field :multiplier %>
</p>
  <p>
Multiple:<br />
    <%= f.text_field :multiple %>
</p>
  <p>
    <%= f.submit "Update" %>
  </p>


<% end %>

<%= link_to "Disable", mecha_multiplier_data_path(@multiplier), :method => :delete, :confirm => "Are you sure you want to do this?" %>