<h1>Create a Mecha Armor</h1>

<% form_for(:mecha_armor_data, @armor, :url => {:action => 'create'}) do |f| %>
<p>
Armor Name:<br />
  <%= f.text_field :armor %>
</p>
  <p>
Stopping Power:<br />
    <%= f.text_field :stopping_power %>
</p>
    <p>
Cost: <br />
      <%= f.text_field :cost %>
</p>
    <p>
Weight:<br />
      <%= f.text_field :weight %>
</p>
  <p>
    <%= f.submit "Create" %>
  </p>


<% end %>