<html>
  <head>
    <%= stylesheet_link_tag "default" %>
    <%= javascript_include_tag "jquery" %>
    <%= javascript_include_tag "jquery.validate" %>
    <%= javascript_include_tag "jquery.jeditable" %>
    <%= javascript_include_tag "jquery.ui" %>
  </head>
  <body>
  <%= yield %>
  </body>
</html>